<div class="homepage">
  <div class="homepage__header">
    <div class="homepage__header__menu__icon">
      <i class="material-icons">menu</i>
    </div>
    <h2>{{name}}</h2>
  </div>
  <div class="lateral-menu">
    <ul>
      <li><a href="/">Galería</a></li>
      <li><a href="http://etsy.com/pichusines">Tienda</a></li>
      <li><a href="/acercade">Acerca de</a></li>
      <li><a href="/legal">Legal</a></li>
    </ul>
  </div>
  <div class="homepage__intro"></div>
  <div class="homepage__container"></div>
</div>