<div class="snw-share-box-wrapper">
    <div class="snw-close-button">
        <div class="material-icons">close</div>
        <span class="snw-close-text">
          Cerrar
        </span>
    </div>
    <div class="snw-share-box-content">
        <div class="snw-share-box-copied-button">
            <div class="snw-md-icon-check"></div>
            <span>¡Copiado al portapapeles!</span>
        </div>
        <div class="snw-share-box-title">
            <div class="snw-md-icon-share"></div>
            <p><span>Compartir</span></p>
        </div>
        <p>Pega este enlace a quien quieras para que pueda ver los detalles del producto</p>
        <div class="snw-share-box-input">
            <div class="snw-share-box-input-pre">Compartir</div>
            <div class="snw-share-box-input-form"><input type="text" value="{{url}}"></div>
            <div class="snw-share-box-input-copy-button" data-clipboard-target=".snw-share-box-input-form input">Copiar</div>
        </div>
        <div class="snw-share-box-done-button">Cerrar</div>
    </div>
</div>
